.white-frame {
    padding: 15px;
    background-color: white;
    border: 0;
    box-shadow: -3px 3px 10px 1px rgb(230, 230, 230);
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-link {
    text-decoration: none;
    color: darkgrey;
}

.subtitle {
    color: darkgrey;
    font-weight: normal;
}

.pinned {
    font-style: italic;
    margin-bottom: 0;
    color: darkgrey;
}

img {
    width: 600px;
}

#profile-img {
    width: 200px;
}

/* Image Zoom Trick */
input[type=checkbox] {
    display: none;
  }
  .zoom-container img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }
  input[type=checkbox]:checked ~ label > img {
    transform: scale(1.8);
    cursor: zoom-out;
  }


@media only screen and (min-width:10px) and (max-width:801px) {
    img {
        width: 80vw;
    }
    h1 {
        font-size: 45px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 20px;
    }
    body {
        font-size: 20px;
    }
    .only-desktop {
        display: none;
    }
}

@media only screen and (min-width:802px) and (max-width:991px) {
    img {
        width: 50vw;
    }
}